In [1]:
#From SAV to LOVE

In [46]:
#!pip install nltk

Requirement already satisfied: nltk in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (3.5)
Requirement already satisfied: joblib in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: regex in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (from nltk) (2020.11.13)
Requirement already satisfied: click in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (from nltk) (7.1.2)

# HW №1

Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания. Для работы объединим train_df и test_df.

Задания:

1) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию:

для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
для для замены @user на пробел, необходимо использовать re.sub() при применении функции необходимо использовать np.vectorize(function).
2) Изменим регистр твитов на нижний с помощью .lower().

3) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

7) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

8) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

9) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

10) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14) Сохраним результат предобработки в pickle-файл.

In [15]:
#!pip install pymystem3

Collecting pymystem3
  Downloading pymystem3-0.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: requests in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (from pymystem3) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (from requests->pymystem3) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (from requests->pymystem3) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (from requests->pymystem3) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\79811\anaconda3\envs\oda_lord\lib\site-packages (from requests->pymystem3) (1.26.4)
Installing collected packages: pymystem3
Successfully installed pymystem3-0.2.0

In [20]:
import pandas as pd
import re
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
import pickle
import pymystem3

In [3]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [6]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

## 2. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()
при применении функции необходимо использовать np.vectorize(function)

In [7]:

combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

### сформируем регулярное выражение

In [8]:
re_express = re.compile('@[\w]*')

### используем регулярное выражение и заменим его на пробел

In [10]:
combine_df['tweet']=combine_df['tweet'].str.replace(re_express, ' ')

проверим что убрали @user

In [11]:
combine_df.head()

   id  label                                              tweet
0   1    0.0     when a father is dysfunctional and is so se...
1   2    0.0      thanks for #lyft credit i can't use cause ...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

## 3. Изменим регистр твитов на нижний с помощью .lower()

In [12]:
combine_df['tweet']=combine_df['tweet'].str.lower()

In [14]:
combine_df.head(10)

   id  label                                              tweet
0   1    0.0     when a father is dysfunctional and is so se...
1   2    0.0      thanks for #lyft credit i can't use cause ...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation
5   6    0.0  [2/2] huge fan fare and big talking before the...
6   7    0.0            camping tomorrow               dannyâ¦
7   8    0.0  the next school year is the year for exams.ð...
8   9    0.0  we won!!! love the land!!! #allin #cavs #champ...
9  10    0.0              welcome here !  i'm   it's so #gr8 !

In [16]:
combine_df.to_csv('combine.csv', index=False, header=None)

In [18]:
combine_df.to_pickle("./combine_df.pkl")

## 4. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [21]:
with open('combine_df.pkl', 'rb') as f:
    data_new = pickle.load(f)

In [22]:
print(data_new)

          id  label                                              tweet
0          1    0.0     when a father is dysfunctional and is so se...
1          2    0.0      thanks for #lyft credit i can't use cause ...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
...      ...    ...                                                ...
49154  49155    NaN  thought factory: left-right polarisation! #tru...
49155  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
49156  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
49157  49158    NaN  happy, at work conference: right mindset leads...
49158  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]

## 5. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

## 6. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

## 7. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [27]:
### сформируем регулярное выражение

In [28]:
re_express1 = re.compile('[^\w\s]')

In [29]:
combine_df['tweet']=combine_df['tweet'].str.replace(re_express1, ' ')

In [30]:
combine_df.head(10)

   id  label                                              tweet
0   1    0.0     when a father is dysfunctional and is so se...
1   2    0.0      thanks for  lyft credit i can t use cause ...
2   3    0.0                                bihday your majesty
3   4    0.0   model   i love u take with u all the time in ...
4   5    0.0             factsguide  society now     motivation
5   6    0.0   2 2  huge fan fare and big talking before the...
6   7    0.0            camping tomorrow               dannyâ
7   8    0.0  the next school year is the year for exams ð  ...
8   9    0.0  we won    love the land     allin  cavs  champ...
9  10    0.0              welcome here    i m   it s so  gr8

## 8. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]

In [31]:
re_express2 = re.compile('[^a-zA-Z0-9]')

In [32]:
combine_df['tweet']=combine_df['tweet'].str.replace(re_express2, ' ')

In [33]:
combine_df.head(10)

   id  label                                              tweet
0   1    0.0     when a father is dysfunctional and is so se...
1   2    0.0      thanks for  lyft credit i can t use cause ...
2   3    0.0                                bihday your majesty
3   4    0.0   model   i love u take with u all the time in ...
4   5    0.0             factsguide  society now     motivation
5   6    0.0   2 2  huge fan fare and big talking before the...
6   7    0.0            camping tomorrow               danny
7   8    0.0  the next school year is the year for exams    ...
8   9    0.0  we won    love the land     allin  cavs  champ...
9  10    0.0              welcome here    i m   it s so  gr8

## 9. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [34]:
re_express3 = re.compile('[^a-zA-Z]')

In [35]:
combine_df['tweet']=combine_df['tweet'].str.replace(re_express3, ' ')

In [36]:
combine_df.head(10)

   id  label                                              tweet
0   1    0.0     when a father is dysfunctional and is so se...
1   2    0.0      thanks for  lyft credit i can t use cause ...
2   3    0.0                                bihday your majesty
3   4    0.0   model   i love u take with u all the time in ...
4   5    0.0             factsguide  society now     motivation
5   6    0.0        huge fan fare and big talking before the...
6   7    0.0            camping tomorrow               danny
7   8    0.0  the next school year is the year for exams    ...
8   9    0.0  we won    love the land     allin  cavs  champ...
9  10    0.0              welcome here    i m   it s so  gr

## 10. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [38]:
combine_df['tweet']= combine_df['tweet'].str.findall('\w{1,}').str.join(' ')

In [39]:
combine_df.head(10)

   id  label                                              tweet
0   1    0.0  when a father is dysfunctional and is so selfi...
1   2    0.0  thanks for lyft credit i can t use cause they ...
2   3    0.0                                bihday your majesty
3   4    0.0      model i love u take with u all the time in ur
4   5    0.0                  factsguide society now motivation
5   6    0.0  huge fan fare and big talking before they leav...
6   7    0.0                             camping tomorrow danny
7   8    0.0  the next school year is the year for exams can...
8   9    0.0  we won love the land allin cavs champions clev...
9  10    0.0                        welcome here i m it s so gr

## 11. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [41]:
from nltk.tokenize import TweetTokenizer
tt = TweetTokenizer()
combine_df['tweet_token'] = combine_df['tweet'].apply(tt.tokenize)

In [42]:
combine_df.head(10)

,id,label,tweet,tweet_token
0,1,0.0,when a father is dysfunctional and is so selfi...,"[when, a, father, is, dysfunctional, and, is, ..."
1,2,0.0,thanks for lyft credit i can t use cause they ...,"[thanks, for, lyft, credit, i, can, t, use, ca..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]"
3,4,0.0,model i love u take with u all the time in ur,"[model, i, love, u, take, with, u, all, the, t..."
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]"
5,6,0.0,huge fan fare and big talking before they leav...,"[huge, fan, fare, and, big, talking, before, t..."
6,7,0.0,camping tomorrow danny,"[camping, tomorrow, danny]"
7,8,0.0,the next school year is the year for exams can...,"[the, next, school, year, is, the, year, for, ..."
8,9,0.0,we won love the land allin cavs champions clev...,"[we, won, love, the, land, allin, cavs, champi..."
9,10,0.0,welcome here i m it s so gr,"[welcome, here, i, m, it, s, so, gr]"

## 12. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [50]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
#import nltk
#nltk.download('stopwords')

In [51]:
combine_df['tweet_token_filtered'] = combine_df['tweet_token'].apply(lambda x: [item for item in x if item not in stop])

In [52]:
combine_df.head(10)

,id,label,tweet,tweet_token,tweet_token_filtered
0,1,0.0,when a father is dysfunctional and is so selfi...,"[when, a, father, is, dysfunctional, and, is, ...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0.0,thanks for lyft credit i can t use cause they ...,"[thanks, for, lyft, credit, i, can, t, use, ca...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,4,0.0,model i love u take with u all the time in ur,"[model, i, love, u, take, with, u, all, the, t...","[model, love, u, take, u, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"
5,6,0.0,huge fan fare and big talking before they leav...,"[huge, fan, fare, and, big, talking, before, t...","[huge, fan, fare, big, talking, leave, chaos, ..."
6,7,0.0,camping tomorrow danny,"[camping, tomorrow, danny]","[camping, tomorrow, danny]"
7,8,0.0,the next school year is the year for exams can...,"[the, next, school, year, is, the, year, for, ...","[next, school, year, year, exams, think, schoo..."
8,9,0.0,we won love the land allin cavs champions clev...,"[we, won, love, the, land, allin, cavs, champi...","[love, land, allin, cavs, champions, cleveland..."
9,10,0.0,welcome here i m it s so gr,"[welcome, here, i, m, it, s, so, gr]","[welcome, gr]"

## 13. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [56]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

In [57]:
combine_df['tweet_stemmed'] = combine_df['tweet_token_filtered'].apply(lambda x: [stemmer.stem(y) for y in x])

In [58]:
combine_df.head(10)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed
0,1,0.0,when a father is dysfunctional and is so selfi...,"[when, a, father, is, dysfunctional, and, is, ...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,thanks for lyft credit i can t use cause they ...,"[thanks, for, lyft, credit, i, can, t, use, ca...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]"
3,4,0.0,model i love u take with u all the time in ur,"[model, i, love, u, take, with, u, all, the, t...","[model, love, u, take, u, time, ur]","[model, love, u, take, u, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]"
5,6,0.0,huge fan fare and big talking before they leav...,"[huge, fan, fare, and, big, talking, before, t...","[huge, fan, fare, big, talking, leave, chaos, ...","[huge, fan, fare, big, talk, leav, chao, pay, ..."
6,7,0.0,camping tomorrow danny,"[camping, tomorrow, danny]","[camping, tomorrow, danny]","[camp, tomorrow, danni]"
7,8,0.0,the next school year is the year for exams can...,"[the, next, school, year, is, the, year, for, ...","[next, school, year, year, exams, think, schoo...","[next, school, year, year, exam, think, school..."
8,9,0.0,we won love the land allin cavs champions clev...,"[we, won, love, the, land, allin, cavs, champi...","[love, land, allin, cavs, champions, cleveland...","[love, land, allin, cav, champion, cleveland, ..."
9,10,0.0,welcome here i m it s so gr,"[welcome, here, i, m, it, s, so, gr]","[welcome, gr]","[welcom, gr]"

## 14. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [65]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
lemmatizer = nltk.stem.WordNetLemmatizer()
wordnet_lemmatizer = WordNetLemmatizer()
stop = stopwords.words('english')

In [66]:
def nltk_tag_to_wordnet_tag(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

def lemmatize_sentence(sentence):
    #tokenize the sentence and find the POS tag for each token
    nltk_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))
    #tuple of (token, wordnet_tag)
    wordnet_tagged = map(lambda x: (x[0], nltk_tag_to_wordnet_tag(x[1])), nltk_tagged)
    lemmatized_sentence = []
    for word, tag in wordnet_tagged:
        if tag is None:
            #if there is no available tag, append the token as is
            lemmatized_sentence.append(word)
        else:
            #else use the tag to lemmatize the token
            lemmatized_sentence.append(lemmatizer.lemmatize(word, tag))
    return " ".join(lemmatized_sentence)

In [68]:
# Lemmatizing
#combine_df['tweet_lemmatized'] = combine_df['tweet_stemmed'].apply(lambda x: lemmatize_sentence(x))

In [73]:
from nltk.stem.wordnet import WordNetLemmatizer

# Removing stop words
stop = stopwords.words('english')



lmtzr = WordNetLemmatizer()

In [77]:
#combine_df['tweet_lemmatized'] = combine_df['tweet_stemmed'].apply(lambda lst:[lmtzr.lemmatize(word) for word in lst])

## 15. Сохраним результат предобработки в pickle-файл.

In [74]:
combine_df.to_csv('combine.csv', index=False, header=None)

In [75]:
combine_df.to_pickle("./combine_df.pkl")